* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  margin: 2rem auto;
  width: 360px;
  height: 560px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
}
.img {
  height: 250px;
  background-color: brown;
}

img {
  height: 100%;
  width: 100%;
}

.content {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: space-arounde;
  align-items: center;
  height: 60px;
}
.ft-l {
  display: flex;
}
.content h3 {
  border-bottom: 1px solid white;
}
.content h1 {
  margin: 1rem 0;
}

p {
  color: #ee7398;
}
